body {
    font-family: Plus Jakarta Sans !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.containerBody {
    flex: 1
}

@media screen and (max-width: 900px) {
    .flash .col-7 {
        width: 90% !important;
        font-size: smaller;
    }
}

/*Navbar*/
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}
.username {
    color: rgb(255,0,0) !important;
    font-style: italic;
}
#search-btn {
    background-color: #fe424d;
    color: white;
    border: none;
    border-radius: 5rem;
}
#search-btn:hover{
    background-color: #fe424d;
    color: white;
    border: none;
}
#search-btn i {
    display: inline;
    margin-right: 1rem;
}
#search-bar {
    border-radius: 5rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    min-width: min(25rem, 100%);
}
#search-form {
    position: relative;
}
.suggestions {
    position: absolute;
    top: 3rem;
    left: 2rem;
    background-color: white;
    width: 90%;
    height: fit-content;
    max-height: 15rem;
    overflow-y: auto;                                   /* scrollbar only when required */
    font-size: 0.9rem;
    padding: 1rem;
    padding-left: 2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    display: none;
    scrollbar-width: thin;
    scrollbar-color: white rgba(254, 66, 77, 0.1);
}
.suggestion {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    text-decoration: none;
    color: black !important;
    display: block;
}
.suggestion:last-child {
    border-bottom: none;
}
.suggestion:hover {
    background-color: rgba(254,66,77,0.1);
}
.suggestion-details {
    color: gray;
    font-size: small;
}

@media screen and (max-width: 992px) {
    #search-btn-text {
        display: none;
    }
    #search-btn {
        margin-left: auto;
        margin-right: 0;
        margin-top: 0.3rem;
        border-radius: 50%;
    }
    #search-btn i {
        margin-right: 0;
    }
    .container-fluid {
        padding: 4px !important;
    }
    .suggestions {
        width: 80%;
    }
}


/*Footers*/
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
}
.f-info-links {
    width: 100%;
}
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    margin-right: 1rem;
} 



/* Index */
#filters {
    display: flex;
    overflow-x: scroll;
    font-size: large;
    width: 60%;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: #fe424d white;
}
#filters a {
    text-decoration: none !important;
}
#filter-left, #filter-right {
    color: #222222;
    font-size: 1.5rem;
    transition: 0.5s ease;
    opacity: 0.5;
}
#filter-left:hover, #filter-right:hover {
    scale: 1.2;
    cursor: pointer;
}
.filter {
    color: rgb(66, 63, 63);
    text-align: center;
    margin-top: 2rem;   
    margin-right: 2rem;
    opacity: 0.6;
}
.filter:hover {
    opacity: 1;
    cursor: pointer;
}
.filter p {
    font-size: 0.8rem;
}
.taxToggle {
    border: 1px solid black !important;
}
#tax-info {
    font-style: italic;     
}
.sort {
    font-size: xx-large;
    color: rgba(254, 66, 77, 0.9);
}
.sort:hover {
    cursor: pointer;
}
.listings-container {
    padding: 2rem 5rem;
}
@media screen and (max-width: 992px) {
    .toggle-sort {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 1rem;
        font-size: small;
    }
    .taxToggle {
        border: 0 !important;
        border-bottom: 1px solid black !important;
    }
    .filter {
        margin-right: 1.2rem;
    }
}
@media screen and (max-width: 853px) {
    .toggle-sort {
        flex-basis: 100%;
    }
    .sort {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 570px) {
    .listings-container .col-8 {
        width: 100% !important;
        padding: 0 !important;
    }
    .listings-container img {
        height: 15rem !important;
        min-width: 15rem !important;
    }
    .topbar, .filter {
        font-size: medium;
    }
}

/*Cards*/
.listing-card {
    border: none !important;
    margin-bottom: 4rem;
    min-width: 12rem !important ;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: 20vw;
    min-height: 10rem;
}
.card-img-top {
    transition: filter 0.3s ease;
}
.card-img-top:hover {
    filter: brightness(0.8);
}
.card-body {
    padding: 0px !important;
}
.listing-link {
    text-decoration: none;
    color: inherit;
}


/*New*/
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
    padding: 1rem !important;
}
@media screen and (max-width: 900px) {
    .new .col-6{
        width: 90% !important;
        font-size: smaller;
    }
    .new h1 {
        margin-bottom: 2rem;
        margin-top: 1rem !important;
    }
}


/*Edit*/
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    padding: 1rem !important;
}
@media screen and (max-width: 900px) {
    .edit .col-6{
        width: 90% !important;
        font-size: smaller;
    }
    .edit h1 {
        margin-top: 1rem !important;
    }
}


/*Show*/
.img-show {
    height: 30rem;
}
.img-show:hover {
    opacity: 1;
}
#show-details p {
    font-weight: 600;
    font-size: medium;
}
#show-description {
    color: rgb(128, 65, 65);
    width: 70%;
    font-style: italic;
    border-bottom: black solid 1px;
    padding-bottom: 1rem;
}
.delete-btn {
    padding: 1rem !important;
    border: none !important;
}
.review-btn {
    padding: 1rem !important;
}
textarea[name="review[comment]"] {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: italic;
}
.review-card.card-text {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}
@media screen and (max-width: 992px) {
    .review-card.card-text {
        font-size: large;
    }
    .card.review-card {
        width: 90% !important;
    }
    #show-details {
        width: 70% !important;
    }
}
@media screen and (max-width: 768px) {
    .review-card.card-text {
        font-size: medium;
    }
    #show-details {
        width: 90% !important;
    }
    #show-details p {
        font-size: small;
    }
    #show-description {
        width: 100%;
    }
    .img-show {
        height: 20rem;
    }
}

/* User */

/* Signup */
.signup-btn {
    padding: 1rem 5rem !important; 
    background-color: #fe424d !important;
    border: none !important;
}
.signup input {
    padding: 1rem;
}
@media screen and (max-width: 900px) {
    .signup .col-5 {
        width: 90% !important;
    }
}
/* Login */
@media screen and (max-width: 900px) {
    .login .col-5 {
        width: 90% !important;
    }
}




/* Search */
.no-results-image {
    height: 30rem;
    max-width: 40rem;
    width: 100%;
}
