<% layout ("layouts/boilerplate.ejs") %>

<body>
    <div class="row justify-content-center signup">
        <div class="col-5">
            <h1 class="mb-5"> SignUp for WanderLust </h1>
            <form action="/user/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label"> Username </label>
                    <input name="username" class="form-control" placeholder="What should be your username?" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Decide a username.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Email </label>
                    <input name="email" class="form-control" placeholder="What's your email?" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Mention your email.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label"> Password </label>
                    <input name="pwd" class="form-control" placeholder="Enter a password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Your account needs a password!
                    </div>
                </div>
                <button class="btn btn-dark signup-btn mt-3 d-block mx-auto">SignUp</button>
            </form>
        </div>  
    </div>
</body>